<section class="pjax-area">
  <div class="content-area post-album">
    <div class="grid grid-cols-3 gap-2">
      <div class="pic-area">
        <div class="pic-item" />
        <img id="imgbox" class="pic-box" src="<%- page.photos[0].url %>" />
      </div>
      <p id="descbox" class="text-center text-xs hint-text"> <%- page.photos[0].desc %> </p>
      <div class="album-list flex gap-2">
        <% for (var i in page.photos) { %>
          <% var p = page.photos[i]; %>
          <% var url = p.url; %>
          <% var name = p.name; %>
          <% var desc = p.desc; %>
          <a class="album-item lazy" id="<%- i %>"
            name="<%- name %>" rel="<%- url %>"
            desc=" <%- desc %> "
            href="javascript:void(0);" onClick="changeimg(event)" data-src="<%- url %>"
            aria-label="the photo <%- i %>"></a>
          <% } %>
      </div>
      <div class="text-center text-xs pt-2 hint-text"> </div>
    </div>
    <div class="album-info">
      <div class="album-info-main">
        <div class="album-title"><%- page.title %></div>
        <span class="album-subtitle">
          —— <%= page.date.format(config.date_format) %><br />
        </span>
        <span class="album-subtitle">
          <%= page.excerpt %>
        </span>
      </div>
      <div class="album-article article">
        <%- page.content %>
      </div>
      <div class="album-info-btm">
        <% if ( page.location ){ %>
          <div class="album-location">
            <iconpark-icon name="aiming"></iconpark-icon><span><%- page.location %></span>
          </div>
          <% } %>
      </div>
    </div>
  </div>
  <% if ( theme.comment.use ) { %>
    <div id="comment" class="itp-m3-card album-comment">
      <%- partial('_partial/comment') %>
    </div>
    <% } %>
      </div>
      <script>
        var imageBox = document.getElementById("imgbox"); // imageBox 是放置大图片的图框
        var descBox = $("#descbox");
        imgno = 0; // 进入页面时，设定初始的图片编号为0 // 定义新变量时不使用 var 则为全局变量、
        function getParam(key) {
          const queryString = window.location.search;
          console.log(queryString);
          const urlParams = new URLSearchParams(queryString);
          const id = urlParams.get(key)
          console.log(id)
          return id
        }
        function replaceQueryParam(param, newval, search) {
          var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
          var query = search.replace(regex, "$1").replace(/&$/, '');
          return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
        }
        function updateParams(name) {
          const url = new URL(window.location.href);
          url.searchParams.set('name', name);
          window.history.replaceState(null, null, url); // or pushState
        }
        function changeImageWith(target) {
          imgno = target.getAttribute('id'); 
          var imgLink = target.getAttribute('rel');
          var name = target.getAttribute('name');
          var desc = target.getAttribute('desc');
          imageBox.src = imgLink; //替换图片
          var imageFancy = imageBox.parentElement; // imageBox 是放置大图片的图框
          imageFancy.setAttribute("href", imgLink);
          descBox.text(desc);
          updateParams(name);
        }
        function cheangeImageInSelector() {
          changeImageWith(document.getElementById(imgno))
        }
        function changeimg() {
          changeImageWith(event.target)
        };
        function changeImageWithName(name) {
          var value = $(`[name='${name}']`)[0];
          changeImageWith(value)
        };
        const name = getParam('name')
        const len = +'<%= page.photos.length %>'
        if (name !== "" && name !== null) {
          changeImageWithName(name)
        }
        window.onkeydown = function album_hotkey() {
          //[键盘快捷键] 左箭头 上一张
          if (event.keyCode === 37) {
            imgno = imgno - 1; // 设置图片编号-1
            if (imgno < 0) {
              imgno = 0;
            }
            cheangeImageInSelector();
          };
          //[键盘快捷键] 右箭头 下一张
          if (event.keyCode === 39) {
            imgcount = len - 1 //获取图片数量
            imgno = Number(imgno) + 1;
            if (imgno > imgcount) {
              imgno = imgcount
            }
            imgno = Number(imgno)
            console.log(imgno)
            cheangeImageInSelector();
          };
          //[键盘快捷键] 上箭头 恢复到第一张
          if (event.keyCode === 38) {
            imgno = 0;
            cheangeImageInSelector();
          };
        }
      </script>
      <style>
        body {
          background-color: #fff;
        }

        .album-comment {
          max-width: 800px;
          margin: 0 auto;
        }

        .album-article {
          font-size: 1.2rem;
        }

        @media (max-width: 768px) {
          .content-area {
            max-width: 100vw;
          }

          .pic-area {
            grid-column: span 3 / span 3;
            padding: 16px;
          }

          .album-info {
            grid-column: span 3 / span 3;
            padding: 12px;
          }

          .album-article {
            padding: 2px;
          }
        }

        @media (min-width: 769px) {
          .content-area {
            max-width: 92%;
            margin: 0 auto;
            padding: 135px 16px 16px 16px;
          }

          .album-article {
            margin-top: 2px;
            max-height: 500px;
            overflow-y: scroll;
          }

          .pic-area {
            grid-column: span 2 / span 2;
          }

          .album-info {
            grid-column: span 1 / span 1;
            margin-left: 12px;
          }
        }

        @media (min-width: 1304px) {
          .content-area {
            max-width: 1400px;
          }
        }

        .hint-text {
          color: black;
          opacity: 60%;
          padding-top: 4px;
        }

        .pic-item {
          background-color: black;
          background-size: cover;
          background-position: center;
          transition: all .3s ease-in-out;
          min-height: 200px;
          aspect-ratio: 3 / 2;
        }

        .pic-item > a {
          width: 100%;
          height: 100%;
          display: inline-block;
        }

        .pic-box {
          transition: all .3s ease-in-out;
          display: inline-block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin: 0 auto;
        }

        .album-info {
          flex-direction: column;
          justify-content: space-between;
          color: var(--main-black);
        }

        .album-title {
          font-size: 2em;
        }

        .album-subtitle {
          font-size: 1.2em;
          opacity: 0.8;
        }


        .album-location {
          display: inline-flex;
          font-size: .8em;
          color: #71afdd;
          gap: 4px;
          padding-bottom: 4px;
        }

        .album-list {
          padding-top: 6px;
          overflow-x: scroll;
        }

        .album-item {
          aspect-ratio: 1 / 1;
          min-height: 100px;
          min-width: 100px;
          background-size: cover;
          background-position: center;
        }

        @media (prefers-color-scheme: dark) {
          .album-info {
            color: #fff;
          }

          .album-location {
            color: #bdbdbd;
          }

          .hint-text {
            color: white;
            opacity: 80%;
          }
        }
      </style>
</section>