<script src="js/mini-live-photo.js"></script>
<script src="js/sql-wasm.js"></script>
<script src="js/html2canvas.js"></script>
<section class="pjax-area">
    <%- include('_partial/single-photo.ejs') %>
        <script type="module">
            var imageBox = document.getElementById("imgbox"); // imageBox 是放置大图片的图框
            var descBox = $("#descbox");
            var descBox = $("#descbox");
            var nextBox = $("#nextbox");
            var copyBox = $("#copybox");
            var wrapper = $("#exif-wrapper");
            var exifParam = $("#exif-param");
            var exifMaker = $("#exif-maker");
            var exifDate = $("#exif-date");
            var exifLens = $("#exif-lens");
            var exifLogo = $("#exif-maker-logo");
            var exifAuthor = $("#exif-author");
            var normalWrapper = $("#normal-wrapper");
            var normalData = $("#no-exif-data");
            const name = getParam('name');
            const start = performance.now();
            var imgLink = '<%- config.base_url %>' + '/' + name;
            // hide useless button
            $("#tools-wrapper").show();
            $("#copybox").hide();
            $("#nextbox").hide();
            $("#downloadbox").click(function () {
                var node = document.getElementById('all-pic');
                html2canvas(node, {
                    useCORS: true,
                    allowTaint: true,
                    scrollX: 0,
                    scrollY: 0,
                }).then(function (canvas) {
                    simulateDownloadImageClick(canvas.toDataURL('image/png'), name + '.png');
                });
            });
            const SQL = await initSqlJs({
                locateFile: (file) => `<%- config.root %>js/sql-wasm.wasm`,
            });
            const sqlite = await fetch("sqlite.db");
            const sqlite_buf = await sqlite.arrayBuffer();
            const db = new SQL.Database(new Uint8Array(sqlite_buf));
            function searchPhoto() {
                var result = db.exec(
                `
SELECT json_object(
'path', photo.path,
'dir', album.dir,
'exif', photo.exif,
'name', photo.name,
'livephoto', photo.livephoto,
'exif_data', json_object(
        'EXIF FNumber', CONCAT('F', exifdata.f_number),
        'EXIF ISOSpeedRatings', CONCAT('ISO ', exifdata.iso),
        'EXIF ExposureTime', CONCAT(exifdata.exposure_time, 's'),
        'EXIF DateTimeOriginal', exifdata.date,
        'EXIF FocalLength', CONCAT(exifdata.focal_length, 'mm'),
        'Image Make', exifdata.maker,
        'Image Model', exifdata.model,
        'EXIF LensModel', exifdata.lens_model
    ),
'location', json_array(location.lo, location.hi)
)
FROM photo
LEFT OUTER JOIN exifdata
ON photo.exif_data_id = exifdata.id
LEFT OUTER JOIN album
ON photo.dir_id = album.id
LEFT OUTER JOIN location
ON photo.location_id = location.id
WHERE photo.path ='` + name + "'"
                );
                if (result.length === 0) {
                    return;
                }
                const v = JSON.parse(result[0].values[0]);
                console.log(v)
                imageBox.src = imgLink; //替换图片
                addBackUp(imageBox, "<%- config.backup_base_url %>/", name);
                var imageFancy = imageBox.parentElement;
                imageFancy.setAttribute("href", imgLink);
                const videourl = '<%- config.base_url %>' + '/' + name.replace(/\.[^/.]+$/, ".mov");
                var picg = document.getElementById('pic-g');
                attachLivePhoto(picg, v.livephoto, videourl);
                var fancyBoxImage = document.getElementsByClassName("fancybox__image")[0];
                if (fancyBoxImage !== undefined) {
                    fancyBoxImage.src = imgLink;
                }
                $("#wrapper").show();
                if (v.exif === "" || v.exif_data.length === 0) {
                    wrapper.hide();
                    normalWrapper.show();
                    normalData.text("Shot By " + "<%- config.author %>");
                    return;
                } else {
                    wrapper.show();
                    normalWrapper.hide();
                }
                wrapperData(v, "<%- config.author %>");
            }
            searchPhoto();
            const duration = performance.now() - start;
            console.log(duration);
        </script>
</section>