<section class="pjax-area">
    <%- include('_partial/single-photo.ejs') %>
        <script>
            var imageBox = document.getElementById("imgbox"); // imageBox 是放置大图片的图框
            var descBox = $("#descbox");
            var descBox = $("#descbox");
            var nextBox = $("#nextbox");
            var copyBox = $("#copybox");
            var wrapper = $("#exif-wrapper");
            var exifParam = $("#exif-param");
            var exifMaker = $("#exif-maker");
            var exifDate = $("#exif-date");
            var exifLens = $("#exif-lens");
            var exifLogo = $("#exif-maker-logo");
            var exifAuthor = $("#exif-author");            
            var normalWrapper = $("#normal-wrapper");
            var normalData = $("#no-exif-data");
            const name = getParam('name');
            var imgLink = '<%- config.base_url %>' + '/' + name;
            $("#tools-wrapper").hide();

            function searchPhoto() {
                if (name === "" || name == null) {
                    return;
                }

                imageBox.src = imgLink; //替换图片
                var all = JSON.parse(`<%- JSON.stringify(site.data.photos) %>`);
                for (const key of Object.keys(all)) {
                    var v = all[key];
                    if (v.path !== name || v.exif_data.length === 0) {
                        continue;
                    }

                    var imageFancy = imageBox.parentElement;
                    imageFancy.setAttribute("href", imgLink);
                    var fancyBoxImage = document.getElementsByClassName("fancybox__image")[0];
                    if (fancyBoxImage !== undefined) {
                        fancyBoxImage.src = imgLink;
                    }
                    if (v.exif === "" || v.exif_data.length === 0) {
                        wrapper.hide();
                        normalWrapper.show();
                        normalData.text("Shot By " + "<%- config.author %>");
                        break;
                    } else {
                        wrapper.show();
                        normalWrapper.hide();
                    }
                    wrapperData(v, "<%- config.author %>");
                }
            }

            searchPhoto();
        </script>
</section>