<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title><%= config.title %></title>
        <link><%= config.url %></link>
        <% const albums = site.pages.filter(i => i.layout === 'album') %>
        <% 
        albums.sort(function(a,b){
            // Turn your strings into dates, and then subtract them
            // to get a value that is either negative, positive, or zero.
            return new Date(b.date) - new Date(a.date);
          });
        %>
        <description><%= config.description %></description>
        <language><%= config.language %></language>
        <updated><%= albums.first().date.toISOString() %></updated>
        <% for (var post of albums.data) { %>
        <item>
            <title><%= post.title %></title>
            <media:content medium="image" url="<%= post.cover %>" width="300" height="200" />            
            <guid isPermalink="true"><%- config.url %>/<%- post.url %></guid>
            <link><%- config.url %>/<%- post.url %></link>
            <pubDate><%= post.date.utc().format('ddd, DD MMM YYYY HH:mm:ss') %></pubDate>     
            <updated><%= post.date.utc().format('ddd, DD MMM YYYY HH:mm:ss')%></updated>
            <description type="html"> <%- post.rss.join(' ') %> </description>
        </item>
        <%_ } _%>
    </channel>
</rss>