<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
    <channel>
        <title><%= config.title %></title>
        <link><%= config.url %></link>
        <follow_challenge>
            <feedId><%= config.follow_challenge.feedId %></feedId>
            <userId><%= config.follow_challenge.userId %></userId>
        </follow_challenge>        
        <description><%= config.description %></description>
        <% const albums = site.pages.filter(i => i.layout === 'album') %>
        <% 
        albums.sort(function(a,b){
            // Turn your strings into dates, and then subtract them
            // to get a value that is either negative, positive, or zero.
            return new Date(b.date) - new Date(a.date);
          });
        %>
        <language><%= config.language %></language>
        <updated><%= albums.first().date.toISOString() %></updated>
        <% for (var post of albums.data) { %>
        <item>
            <title><%= post.title %></title>
            <media:content medium="image" url="<%= post.cover %>" width="300" height="200" />            
            <guid isPermalink="true"><%- config.url %>/<%- post.url %></guid>
            <link><%- config.url %>/<%- post.url %></link>
            <pubDate><%= post.date.utc().format('ddd, DD MMM YYYY HH:mm:ss') %></pubDate>     
            <updated><%= post.date.utc().format('ddd, DD MMM YYYY HH:mm:ss')%></updated>
            <description type="html">
                <![CDATA[ 
                <%- post.rss.join(' ') %>
                ]]>
            </description>
        </item>
        <%_ } _%>
    </channel>
</rss>