<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title><%= config.title %></title>
        <link><%= config.url %></link>
        <% const albums = site.pages.filter(i => i.layout === 'album') %>
        <description><%= config.description %></description>
        <language><%= config.language %></language>
        <updated><%= albums.first().date.toISOString() %></updated>
        <% for (var post of albums.data) { %>
        <item>
            <title><%= post.title %></title>
            <guid isPermalink="true"><%- config.url %>/<%- post.url %></guid>
            <link><%- config.url %>/<%- post.url %></link>
            <pubDate><%= post.date.toISOString() %></pubDate>          
            <content type="html"><![CDATA[ <%= post.rss %> ]]></content>
        </item>
        <%_ } _%>
    </channel>
</rss>